.hero_article img {
    width: 100%;
}

.category_menu {
  background: #505050;
  color: white;
  margin-top: -3px;
  width: 100%;
}

.category_menu ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 20px 0;
}

.category_menu ul li {
  display: block;
  font-weight: 900;
  padding: 10px;
}

.category_menu ul li:hover {
  border-bottom: 5px solid #ff9800;
  color: #ff9800;
}

.category_menu ul li a {
  cursor: pointer;
}

.article.main__container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  padding: 10px;
}

.article__featured {
  width: 580px;
  height: 900px;
  overflow: hidden;
  position: relative;
}

.article__featured:hover article__featured_title p,
.article__subcontent:hover .article__subcontent_title p {
  color: #ff9800;
}

.article__featured img,
.article__subcontent img {
  width: 100%;
}

.article__featured_title,
.article__subcontent_title {
  position: absolute;
  bottom: 0;
  background: black;
  opacity: 0.8;
  text-align: center;
  width: 100%;
}

.article__featured_title p,
.article__subcontent_title p {
  color: white;
  font-size: 18px;
  font-weight: 900;
}

.article.right__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__subcontent {
  height: 210px;
  overflow: hidden;
  position: relative;
}

/* RELATED ARTICLES */

.related_articles_heading {
  text-align: center;
  text-transform: uppercase;
}

.related-articles-container {
  display: flex;
  margin-bottom: 50px;
}

.related-articles a {
  color: black;
  text-decoration: none;
  text-align: left;
}

.related-articles a:hover  {
  color: #ff9800;
}

.related-articles-container h2 {
  text-transform: uppercase;
}

.related-articles-container p span {
  font-style: italic;
  font-weight: 300;
}

.related-articles {
  width: 33.33333%;
  padding: 10px;
  overflow: hidden;
}

.related-articles img {
  width: 100%;
  height: 180px;
}

.posts__options {
  text-align: center;
}

.posts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.posts__list-content {
  display: block;
  padding: 10px;
  width: 33.3%;

  img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  a {
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
  }

  p {
    font-style: italic;
  }
}