.footer {
    width: 100%;
    background: #00121b;
    display: block;
  }
  
  .footer__inner {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .footer__items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
  }
  
  .footer__items p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    color: #fff;
  }
  
  .footer__items h1 {
    color: #fff;
  }
  
  .footer__border {
    height: 3px;
    width: 40px;
    background: #ff9800;
    color: #ff9800;
    background-color: #ff9800;
    border: 0px;
  }
  
  .footer ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0px;
  }
  
  .footer ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
  }
  
  .footer ul a:hover {
    color: #ff9800;
  }
  
  .footer ul li {
    margin: 10px 0;
    height: 25px;
  }
  
  .footer__bottom {
    padding: 10px;
    background: #00121b;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  
  /* for tablet mode view */
  
  @media screen and (max-width: 1275px) {
    .footer__items {
      width: 50%;
    }
  }
  
  /* for mobile screen view */
  
  @media screen and (max-width: 660px) {
    .footer__items {
      width: 100%;
    }
  }